{% extends "layout/basic.html" %}
<!-- {% load static %} -->

    {% block title%}Книги{% endblock %}

    {% block content %}

    {% for book in object_list %}
    
    <div class="book_wrapper">
        <!-- <img class="cov" src="{% static 'images/Med_vsadnik.jpg' %}" alt=""> -->
        <img class="cov" src="{{ book.cover_art.url }}" alt="">
        <div>
            <h5 class="book_title">{{ book.title }}</h5>
            <ul>
                <li>Автор: {{ book.author }}</li>
                <li>Издательство: {{ book.publisher }}</li>
                <li>Год издания: {{ book.year_release }}</li>
                <li>Краткая аннотация: "{{ book.description }}"</li>
                <li class="ISBN"><small>ISBN: {{ book.ISBN}}</small></li>
            </ul>
        </div>
    </div>
    {% endfor %}

    {% endblock %}
