{% extends "layout/basic.html" %}

    {% block title%}Главная страница{% endblock %}

    {% block content %}

    <div class="index">
        <h3>Библиотека</h3>
        <hr>
        <h6 class="link"><a href="http://127.0.0.1:8000/authors/">Список авторов</a></h6>
        <h6 class="link"><a href="http://127.0.0.1:8000/books/">Список книг</a></h6>
        <h6 class="link"><a href="http://127.0.0.1:8000/pub/">Страница издательств</a></h6>
        <h6 class="link"><a href="http://127.0.0.1:8000/friend/">Страница друзей</a></h6>
    </div>
 
    {% endblock %}