.book_wrapper {
    display: flex;
    /* justify-content: space-between; */
    max-width: 800px;
    padding: 40px;
    margin: 20px;
    background-color: lightgray;
    box-shadow: 3px 3px 3px gray;
}

.book_title {
    width: 550px;
    padding: 3px 20px;
    margin-left: 30px;
    color:aliceblue;
    background-color: gray;
    text-shadow: 1px 1px 5px black;
}

.cov {
    width: 140px;
    height: 200px;
    box-shadow: 3px 3px 3px gray;
}
